<div class="container" style="margin-bottom: 80px">
   <h1>Team Information</h1>
  <br>
  <div class="row" style="text-align: center">
    <div class="col-xs-6">
      <h2 style="margin-top: 10px">Martí Floriach</h2>
      <%=image_tag("marti.jpg", alt: "Martí", style: "border-radius:50%;width:30%")%>
      <h3>Project Leader</h3>
      <a href="https://www.linkedin.com/in/mart%C3%AD-floriach-pigem-3642b0b7/"><i style="margin-right: 10px;font-size: 20px;color: black" class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://github.com/howls90"><i style="margin-right: 10px;font-size: 20px;color: black"class="fa fa-github" aria-hidden="true"></i></a>
      <br><br>
      <h5 style="width: 70%;margin: auto">Martí received his Bachelor’s degree in Electrical Engineering from the Polytechnic University of Catalonia in 2015. He continued his studies and received his Master’s degree in Software Engineering in 2016. OOCRAN was born as a result of his Master's thesis.</h5>
    </div>

    <div class="col-xs-6">
      <h2 style="margin-top: 10px">Guillem Xercavins</h2>
      <%=image_tag("guillem.jpg", alt: "Guillem", style: "border-radius:50%;width:30%")%>
      <h3>Lead Developer</h3>
      <a href="https://www.linkedin.com/in/guillemxercavins/"><i style="margin-right: 10px;font-size: 20px;color: black" class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href=""><i style="margin-right: 10px;font-size: 20px;color: black" class="fa fa-github" aria-hidden="true"></i></a>
      <br><br>
      <h5 style="width: 70%;margin: auto">Guillem met his partners while pursuing his Master’s degree. He thought that the OOCRAN project was promising and decided to join it and help in developing that idea into an open-source product. His duties include, but not limited to, LTE VNF development.</h5>
    </div>
  </div>
</div>
