<footer style="bottom: 0px">
  <div class="container">
    <div style="float: left;margin-top: 13px">
      <p>Open Orchestration Cloud RAN 2017</p>
      <p>OOCRAN project is provided under the Apache2 license.</p>
    </div>
    <div style="float: right;margin-top: 10px">
      <a class="nav-link" href="mailto:info@oocran.dynu.com?Subject=Consult%20again" style="color: black"><i class="fa fa-envelope" aria-hidden="true"></i> info@oocran.dynu.com</a>
      <br>
      <p style="float: left;margin-top: 13px">OOCRAN project is supported by</p><a href="https://www.nlnet.nl/"><%=image_tag("nlnet.jpg", alt: "NLnet")%></a>
    </div>
  </div>
</footer>